<div class="p-3">
<h2>Lista dokumentów</h2>
<div class="d-flex justify-content-between align-items-center mb-3">
<div class="d-flex align-items-center gap-3 mb-3">
  <button (click)="prevPage()" [disabled]="skip === 0" class="btn btn-secondary">
    <i class="bi bi-caret-left-fill"></i>
  </button>

  <p class="mb-0 fw-semibold">
    Wyświetlane dokumenty: {{ currentStart }} – {{ currentEnd }} z {{ documentsCount }}
  </p>

  <button (click)="nextPage()" [disabled]="skip + take >= documentsCount" class="btn btn-secondary">
    <i class="bi bi-caret-right-fill"></i>
  </button>
</div>
<div class="d-flex align-items-center gap-2">
  <button (click)="clearDatabase()" class="btn btn-danger">
    Wyczyść bazę
  </button>
  <button (click)="rebuildDatabase()" class="btn btn-warning">
    Odbuduj bazę
  </button>
  <button (click)="downloadCSVFiles()" class="btn btn-success">
    <i class="bi bi-download"></i> Pobierz aktualny stan bazy (dwa pliki CSV)
  </button>
</div>
</div>
<table class="table table-striped table-bordered">
  <thead class="table-dark">
    <tr>
      <th>ID</th>
      <th>Typ</th>
      <th>Data</th>
      <th>Imię</th>
      <th>Nazwisko</th>
      <th>Miasto</th>
      <th>Pozycje</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let doc of documents">
      <td>{{ doc.documentId }}</td>
      <td>{{ doc.type }}</td>
      <td>{{ doc.date }}</td>
      <td>{{ doc.firstName }}</td>
      <td>{{ doc.lastName }}</td>
      <td>{{ doc.city }}</td>
      <td>
        <ul class="mb-0 ps-3">
          <li *ngFor="let item of doc.documentItems">
            {{ item.ordinal }}. {{ item.product }} ({{ item.quantity }} x {{ item.price }} zł, VAT: {{ item.taxRate }}%)
          </li>
        </ul>
      </td>
    </tr>
  </tbody>
</table>
</div>